@import "../styles/variables";
    
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $textDark;
    padding: 2rem 0 4rem;
    
}
.h2{
    font-size: 1.75rem;
    font-family: 'Gilroy-Medium';
    padding: 1rem 0 2rem;
    line-height: 33px;
}
.h4{
    font-size: 1.25rem;
    font-family: 'Gilroy-Medium';
    padding: 0 0 3rem;

}
.applyBtn{
    width: 240px;
    width: 100%;
}
.wrapperGray{
    background-color: $bgLight;
    padding:0;
}
.content{
    width: 90%;
}
.h2Gradient{
    font-size: 2.5rem;
    font-family: 'Gilroy-Bold';
    background: -webkit-linear-gradient(left, #9B1F78,#EF6A44 30%);
    background-clip:text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h3{
    padding: 2rem 0;
    font-size: 1.25rem;
    color:$textBlack;
}
.paragraph{
    font-size: .9rem;
    font-size: 15px;
    color:$textBlack;
    padding: 2rem 0 0;
    

}