@import "./variables";

.footer {
  background-color: $bgDark;
  color: $textWhite;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;
}
.name {
  font-family: "Gilroy-Regular";
  font-size: 1rem;
  padding: 0 0 1rem;
}
.address {
  font-size: 1rem;
  padding: 1rem 0 2rem;
  line-height: 1.5;
}
.copyright {
  &:before {
    content: "©";
    height: 1.5rem;
    width: 1.5rem;
  }
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.icon {
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  margin: 2px 0;
  transition: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}
