@import "./variables";

.nav {
  position: fixed;
  width: 100vw;
  height: 75px;
  margin: 0 auto;
  background-color: $navBg;
  z-index: 10;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem 0;
}
.menu {
  display: flex;
  width: 80%;
  //   background-color: yellow;
  @media screen and (max-width:900px) {
    display: none;
    
}
}
.navList {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: end;
  list-style: none;
  text-decoration: none;
}
