@import "./variables";

.wrapper {
  padding: 2rem 1rem 4rem 0;
}

.image {
  background-image: url("../images//Praca-mobile.webp");
  background-repeat: no-repeat;
  max-width: 90vw;
  min-height: 410px;
  margin: 2rem 0 1rem;
}
.picture {
  width: 100%;
}
.info {
  // max-width: 90vw;
  padding: 2rem 0rem 0 0rem;
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}
.h4 {
  color: $mainRed;
  font-size: 1.5rem;
  font-weight: 400;
}
.h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $textDark;
  padding: 1rem 0 0;
}
.paragraph {
  line-height: 23px;
  font-size: 0.9rem;
  color: $textBlack;
  padding: 1rem 0 0;
}
.list {
  padding: 0 0 2rem 1rem;
  list-style: none;
}
.listItem {
  padding: 1rem 0 0 1rem;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $mainRed;
    left: -6px;
    top: 20px;
  }
}
