@import "./variables";

.wrapper {
  padding: 2rem 1rem 4rem 0;
}
.desktopView {
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }
}

.image {
  background-image: url("../images//Praca-mobile.webp");
  background-repeat: no-repeat;
  max-width: 90vw;
  min-height: 410px;
  margin: 2rem 0 1rem;
  @media screen and (min-width: 660px) {
    background-image: url("../images//Praca-tablet.webp");
    background-size: contain;
    max-width: 90vw;
    min-height: 80vh;
    margin: 2rem 0 1rem;
  }
  @media screen and (min-width: 1200px) {
    background-image: url("../images//Praca.webp");
    background-size: contain;
    max-width: 90vw;
    min-height: 60vh;
    margin: 2rem 0 1rem;
  }
  @media screen and (min-width: 1360px) {
    min-height: 80vh;
  }
}
.picture {
  width: 100%;
}
.info {
  padding: 2rem 0rem 0 0rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 660px) {
    max-width: 550px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 800px;
  }
  @media screen and (min-width: 1360px) {
    max-width: 600px;
    margin-left: 9rem;
  }
}
.h4 {
  color: $mainRed;
  font-size: 1.5rem;
  font-weight: 400;
  @media screen and (min-width: 660px) {
    font-size: 1.5rem;
  }
}
.h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $textDark;
  padding: 1rem 0 0;
  @media screen and (min-width: 660px) {
    font-size: 3.1rem;
  }
  @media screen and (min-width: 660px) {
    padding: 2rem 0;
  }
}
.paragraph {
  line-height: 23px;
  font-size: 0.9rem;
  color: $textBlack;
  padding: 1rem 0 0;
  @media screen and (min-width: 660px) {
    font-size: 1.1rem;
  }
  @media screen and (min-width: 660px) {
    padding: 1.5rem 0;
  }
}
.list {
  padding: 0 0 2rem 1rem;
  list-style: none;
}
.listItem {
  padding: 1rem 0 0 1rem;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $mainRed;
    left: -6px;
    top: 20px;
  }
}
