@import "./variables";

.wrapper {
  padding: 1rem 0;
  display: flex;
}
.number {
  padding: 0;
}
.span {
  font-size: 1.6rem;
  color: $bgLight;
}
.details {
  position: relative;
  //   padding: 0 4rem 0 0;
  display: flex;
  flex-direction: column;
  width: 80%;

  &:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1rem;
    margin: 0 1.5rem;
    background-color: #000000;
  }
}
.title {
  color: $mainRed;
  font-size: 1.1rem;
  padding: 0.5rem 0 0 1.5rem;
}
.description {
  position: relative;
  padding: 0.5rem 0 0 1.5rem;
  font-size: 0.8rem;
}
// .noAfter {
//   position: relative;
//   padding: 0 4rem 0 0;
//   display: flex;
//   flex-direction: column;
//   width: 80%;
// }
