@import './variables';

.wrapper{
    padding: 1rem;
    display: flex;
    @media screen and (max-width:900px) {
        width: 80%;
    }
    @media screen and (max-width:576px) {
        width: 100%;
    }
}
.number{
    padding: 0 2rem 0 0 ;
    
}
.span{
    font-size: 2rem;
    color: $bgLight;
}
.details{
    position: relative;
    padding: 0 4rem 0 0 ;
    display: flex;
    flex-direction: column;
    width: 80%;
    @media screen and (max-width:900px) {
        width: 100%;
        padding: 0;
        
        
    }
    &:after{
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -15%;
        background-color: #000000;
            @media screen and (max-width:900px) {
                max-width: 400px;
                min-width: 100%;
                
            }
    }
    
}
.title{
    color: $mainRed;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.description{
    position: relative;
    padding: .5rem 0;
    font-size: .8rem;
    
}
.noAfter{
    position: relative;
    padding: 0 4rem 0 0 ;
    display: flex;
    flex-direction: column;
    width: 80%;
}