@import "./variables";

// .wrapper{
//     padding: 3rem 0 0;
//     min-height: 800px;
//     display: grid;
//     grid-template-columns: 2fr 3fr;
//     gap: 3rem;
//     font-family: 'Gilroy-Regular';
//     @media screen and (max-width:1200px) {
//         padding-bottom: 5rem;
//         min-height: 100%;
//     }
//     @media screen and (max-width:900px) {
//         display: flex;
//         flex-direction: column;
//     }

// }

// .image{
//     // border: 2px solid red;
//     max-width: 540px;
// }
// .picture{
//     width: 100%;
// }
// .info{
//     max-width: 840px;
//     padding: 1rem 5rem;
//     // border: 2px solid blue;
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     @media screen and (max-width:1200px) {
//         padding: 1rem 2rem 0 0;
//     }
//     @media screen and (max-width:900px) {
//         padding: 2rem;
//         width: 80%;
//     }
// }
// .h4{
//     color: $mainRed;
//     font-size: 1.5rem;
//     font-weight: 400;
// }
// .h2{
//     font-size: 3rem;
//     font-weight: 700;
//     color: $textDark;
//     padding: 1rem 0 2rem;
//     @media screen and (max-width:1200px) {
//         padding: 1rem 0 0;
//     }

// }
// .paragraph{
//     line-height: 23px;
//     font-size: 1rem;
//     color: $textBlack;
//     padding: 1rem 7rem 0 0 ;
//     @media screen and (max-width:1200px) {
//         padding: 1rem 1rem 0 0;
//         font-size: .75rem;
//         line-height: 1.5;
//     }
//     @media screen and (max-width:900px) {
//         line-height: 23px;
//         font-size: 1rem;
//         // padding: 1rem 7rem 0 0 ;
//     }

// }
// .hiperlink{
//     cursor: pointer;
//     font-weight: 700;
//     padding: 2rem 0 ;
//     width: 200px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     @media screen and (max-width:1200px) {
//         padding: 1rem 0;
//     }
//     @media screen and (max-width:900px) {
//         padding: 2rem 0;
//     }
// }
// .span{
//     position: relative;
//     padding: 1rem 0 .5rem;
//     overflow: hidden;
//     &:before{
//         position: absolute;
//         content: '';
//         width: 100%;
//         height: 2px;
//         background-color: $textBlack;
//         bottom: 0;
//         left: 0;
//     }
//     &:after{
//         position: absolute;
//         content: '';
//         width: 100%;
//         height: 2px;
//         background-color: $textWhite;
//         bottom: 0;
//         left: -100%;

//         transform-origin: 0% 0;
//     }
//     &:hover:after{
//         animation: slide .6s  ;

//     }
// }

// @keyframes slide{
//     from{
//    transform: translateX(100%);
//    }
//    to{
//         transform: translateX(200%);

//     }
//    }

/////////////////////////
// MOBILE
/////////////////////////

.wrapper {
  padding: 2rem 1rem 4rem;
}
.image {
  background-image: url("../images//Staz-mobile.webp");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 90vw;
  min-height: 410px;
  margin: 2rem 0 1rem;
}
.info {
  // max-width: 90vw;
  padding: 2rem 0rem 0 0rem;
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.h4 {
  color: $mainRed;
  font-size: 1.25rem;
  font-weight: 400;
}
.h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $textDark;
  padding: 1rem 0;
}
.paragraph {
  line-height: 23px;
  font-size: 0.9rem;
  color: $textBlack;
  padding: 0 0 1rem 0;
}

.hiperlink {
  cursor: pointer;
  font-weight: 700;
  padding: 2rem;
  // margin-left: 2rem;
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.span {
  position: relative;
  padding: 1rem 0 0.5rem;
  overflow: hidden;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $textBlack;
    bottom: 0;
    left: 0;
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $textWhite;
    bottom: 0;
    left: -100%;

    transform-origin: 0% 0;
  }
  &:hover:after {
    animation: slide 0.6s;
  }
}

.customLink {
  text-decoration: none;
  color: $textBlack;
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
