@import "./variables";

.wrapper {
  padding: 1rem 0 0;
  display: flex;
}
.details {
  position: relative;
  // padding: 0 2rem 0 0 ;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.title {
  color: $mainRed;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  font-weight: 700;
}
.description {
  position: relative;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}
